.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form button,
form input,
form select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

form button {
  border: none;
  background-color: white;
}

form input {
  border: 1px solid white;
  background-color: #282c34;
  color: white;
}
form label {
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px;
}
form label input[type='radio'] {
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.greenButton {
  background-color: seagreen;
}
